body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(5, 14, 7);

}
 h2{
    color: rgb(24, 120, 199);
 
 }
#login .container #login-row #login-column #login-box{
    margin-top: auto;
    max-width: 600px;
    height: 300px;
    border: 1px solid rgb(39, 78, 94);
    background-color: rgb(106, 136, 136);
    box-shadow: 10px 12px 5px rgb(53, 58, 68);
    border-radius: 20px;
    margin: auto;
    padding: auto;
}
#login .container #login-row 
    #login-column #login-box #login-form{
        padding: 20px;
        margin-top: 30px;
}
#register .container #register-row #register-column #register-box{
    margin-top: auto;
    max-width: 600px;
    height: 380px;
    border: 1px solid rgb(16, 247, 16);
    background-color: rgb(76, 179, 118);
    border-radius: 20px;
    margin: auto;
    padding: auto;
}
#register .container #register-row 
    #register-column #register-box #register-form{
        padding: 20px;
        margin-top: 30px;
}

.form-control:focus {
    box-shadow: none;
    border-color: purple ;
}

.profile-button{
    background: rgba(128, 0, 128, 0.644) ;
    box-shadow: none;
    border: none;
}

.profile-button:hover{
    background: purple ;
}

.profile-button:active{
    background: purple;
    box-shadow: none;
}

.labels{
    font-size: 11px;;
}